<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup] = "postForm" (ngSubmit)="addUser()">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" formControlName="firstName" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" formControlName="lastName" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="tertiary" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="login">
          <ion-text (click)="navigateToLoginPage()">
            Already have an account?
          </ion-text>
          <!-- <ion-text *ngIf="getUser(); else loginText" (click)="navigateToLoginPage()">
            You are logged in
          </ion-text> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!-- <ng-template #loginText>
  <ion-text (click)="navigateToLoginPage()">
    Already have an account?
  </ion-text>
</ng-template> -->
