<ion-header>
  <ion-toolbar class="loginHeader">
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="form-div">
    <form [formGroup]="postForm" (ngSubmit)="addUser()">
      <ion-input
        label="First Name"
        labelPlacement="floating"
        type="text"
        formControlName="firstName"
        errorText="Invalid name"
      ></ion-input>

      <ion-input
        label="Last Name"
        labelPlacement="floating"
        type="text"
        formControlName="lastName"
        errorText="Invalid name"
      ></ion-input>

      <ion-input
        type="email"
        label="Email"
        labelPlacement="floating"
        type="text"
        formControlName="email"
        errorText="Invalid email"
      ></ion-input>

      <ion-input
        label="Password"
        labelPlacement="floating"
        type="password"
        formControlName="password"
        errorText="Must be at least 4 characters long"
      ></ion-input>

      <ion-input
        *ngIf="password.value"
        label="Repeat Password"
        labelPlacement="floating"
        type="password"
        errorText="Passwords must match"
        formControlName="repeatPassword"
      ></ion-input>

      <div class="sign-in">
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block"
              >Sign Up</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
</ion-content>
