<ion-header>
  <ion-toolbar class="loginHeader">
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="form-div">
    <form [formGroup]="loginForm" (ngSubmit)="signInUser()">
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="text"
        formControlName="email"
        errorText="Email invalid"
      ></ion-input>
      <ion-input
        label="Password"
        labelPlacement="floating"
        type="password"
        formControlName="password"
        errorText="Password required"
      ></ion-input>
      <div class="sign-in">
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block"
              >Sign In</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row class="createAccount">
              <ion-text (click)="navigateToRegistrationPage()" color="primary">
                Don't have an account?
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
        <div *ngIf="incorrect" class="incorrect">
          <ion-row>
            <ion-col>
              <p>Incorrect email or password</p>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="loading" class="spinner">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </div>
    </form>
  </div>
</ion-content>
