<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="restaurants">
      <ion-icon aria-hidden="true" name="fast-food"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yourOrders">
      <ion-icon aria-hidden="true" name="basket"></ion-icon>
      <ion-label>My orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yourProfile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>My profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
