<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.70">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Your order
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Connor Smith</h2>
            <p>Sales Rep</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
