<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.7">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title> Your order </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item *ngFor="let product of cart" class="ion-text-wrap">
        <ion-grid>
          <!--row with 4 columns: - amount + close -->
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-align-self-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="decreaseCartItem(product)"
              >
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="1" class="ion-align-self-center">
              {{ product.amount }}
            </ion-col>

            <ion-col size="2" class="ion-align-self-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="increaseCartItem(product)"
              >
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="2" offset="5">
              <ion-button
                color="medium"
                fill="clear"
                (click)="removeCartItem(product)"
              >
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <!--row with 2 columns - product name and amount-->
          <ion-row>
            <ion-col size="9">
              <b>{{ product.name }}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ product.amount * product.price | currency : "USD" }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div *ngIf="cart.length > 0">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="9"> Total: </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ getTotal() | currency : "EUR" }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-button [routerLink]="['/checkout']" (click)="modal.dismiss()"
            >Checkout</ion-button
          >
        </ion-item>
      </div>
      <ion-item *ngIf="cart.length == 0">
        <ion-label>Your cart is empty!</ion-label>
      </ion-item>

      <!-- <ion-label>Your total: {{ getTotal() | currency:'EUR' }}</ion-label> -->
    </ion-content>
  </ng-template>
</ion-modal>
