<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-header #header>
  <ion-toolbar>
    <ion-thumbnail class="companyLogo">
      <img
        alt="Foodout logo"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-chip slot="end" class="avatarChip" id="popover-button">
      <ion-avatar class="avatarImg">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-icon [name]="arrowToggle ? 'chevron-up' : 'chevron-down'"></ion-icon>
    </ion-chip>

    <ion-popover
      trigger="popover-button"
      [dismissOnSelect]="true"
      (willPresent)="toggleClicked()"
      (willDismiss)="toggleClicked()"
    >
      <ng-template>
        <ion-content>
          <ion-item [button]="true" [detail]="false"
            >Login and register</ion-item
          >
          <ion-item-divider></ion-item-divider>
          <ion-item [button]="true" [detail]="false">Language...</ion-item>
          <ion-item [button]="true" [detail]="false">Support</ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  scrollEvents="true"
  (ionScroll)="onContentScroll($event)"
>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar
    color="light"
    slot="fixed"
    placeholder="Search restaurants"
    (ionInput)="filterItemsByTitle($event)"
    #searchbar
  ></ion-searchbar>
    <ion-list class="restaurantList">
      <a *ngFor="let result of dataArray || results">
        <ion-card class="card" [routerLink]="['./', result.id]">
          <img
            alt="Image of restaurant"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header>
            <ion-card-title>{{ result.title }}</ion-card-title>
            <ion-card-subtitle>
              {{ result.reviewCount }} Reviews
              <ion-icon name="star"></ion-icon> {{ result.rating }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> </ion-card-content>
        </ion-card>
      </a>
      <ion-infinite-scroll #infScroll (ionInfinite)="onIonInfinite($event)" threshold="0%">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

  <app-fabbutton class="alignBottomButton" slot="fixed"></app-fabbutton>
</ion-content>

<router-outlet></router-outlet>

<app-cart trigger="open-modal"></app-cart>
